Q-13. Write an SQL query to show only odd rows from aÂ table.

In [ ]:
select * from table where ID%2!=0

Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
create table clone_table as (select * from another_table);