Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
select * from table1 INTERSECT select * from table2

Q-16. Write an SQL query to show records from one table that another table does not
have.

In [ ]:
select * from table1 where NOT EXISTS(select * from table2)