Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

In [ ]:
select min(salary) from (select distinct salary from table order by salary desc ) where rownum<=5;

Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
select * from employees group by salary;